@font-face {
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: local('Nunito Light'), local('Nunito-Light'), url(https://fonts.gstatic.com/s/nunito/v12/XRXW3I6Li01BKofAnsSUYevN.ttf) format('truetype');
}
@font-face {
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Nunito Regular'), local('Nunito-Regular'), url(https://fonts.gstatic.com/s/nunito/v12/XRXV3I6Li01BKofINeaE.ttf) format('truetype');
}
@font-face {
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: local('Nunito SemiBold'), local('Nunito-SemiBold'), url(https://fonts.gstatic.com/s/nunito/v12/XRXW3I6Li01BKofA6sKUYevN.ttf) format('truetype');
}
@font-face {
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: local('Nunito ExtraBold'), local('Nunito-ExtraBold'), url(https://fonts.gstatic.com/s/nunito/v12/XRXW3I6Li01BKofAksCUYevN.ttf) format('truetype');
}
@font-face {
  font-family: 'Bree Serif';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Bree Serif Regular'), local('BreeSerif-Regular'), url(https://fonts.gstatic.com/s/breeserif/v9/4UaHrEJCrhhnVA3DgluA96rp4g.ttf) format('truetype');
}
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
html,
body {
  font-family: 'Nunito', sans-serif;
  color: #444545;
}
h1,
h2,
h3,
h4,
h5 {
  font-weight: 600;
  margin-bottom: 15px;
}
h1 {
  font-size: 3.2rem;
}
h2 {
  font-size: 2.8rem;
}
h3 {
  font-size: 2.4rem;
}
h4 {
  font-size: 2rem;
}
p {
  line-height: 1.8;
  font-size: 1.4rem;
  padding-bottom: 10px;
}
a {
  font-size: 1.4rem;
  color: #444545;
}
img {
  max-width: 100%;
  height: auto;
}
.container {
  max-width: 960px;
  width: 100%;
  margin: 0 auto;
}
@media (max-width: 1024px) {
  .container {
    padding: 0 20px;
  }
}
header {
  padding: 20px 0 10px;
  background: linear-gradient(90deg, rgba(20, 20, 20, 0.8) 0%, rgba(0, 0, 0, 0.5)), url(/img/cover.jpg);
  /* Set a specific height */
  min-height: 500px;
  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
header .container {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
}
header .container .main-nav {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: row;
  margin-top: 10px;
  width: 100%;
  color: #FFFFFF;
}
@media (max-width: 375px) {
  header .container .main-nav {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
}
header .container .main-nav nav {
  margin-top: 30px;
}
@media (max-width: 375px) {
  header .container .main-nav nav {
    margin-top: 15px;
    margin-bottom: 20px;
  }
}
header .container .main-nav nav a {
  margin-right: 10px;
  text-decoration: none;
  color: #FFFFFF;
  transition: all 0.3s;
}
header .container .main-nav nav a:hover {
  color: #de9151;
  border-bottom: 1px solid #de9151;
}
header .container .intro {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: #FFFFFF;
  height: 39vh;
  text-align: center;
  width: 100%;
}
header .container .intro h1 {
  font-size: 4.6rem;
  margin-bottom: 40px;
}
@media (max-width: 375px) {
  header .container .intro h1 {
    font-size: 3.6rem;
  }
}
@media (max-width: 375px) {
  header .container .intro .buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
}
header .container .intro .buttons a {
  background: #00887A;
  border: 1px solid #FFFFFF;
  color: #FFFFFF;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  padding: 10px 50px;
  text-decoration: none;
  text-align: center;
  font-size: 1.4rem;
  transition: all 0.3s;
  border: 1px solid #00887A;
  margin: 0 5px 10px;
  font-weight: bold;
  text-transform: uppercase;
}
header .container .intro .buttons a:hover {
  background: #FFFFFF;
  color: #00887A;
  border: 1px solid #00887A;
}
header .container .intro .buttons .reverse-button {
  background: #FFFFFF;
  border: 1px solid #00887A;
  color: #00887A;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  padding: 10px 50px;
  text-decoration: none;
  text-align: center;
  font-size: 1.4rem;
  transition: all 0.3s;
  background: rgba(255, 255, 255, 0.3);
  border: 1px solid #FFFFFF;
  color: #FFFFFF;
}
header .container .intro .buttons .reverse-button:hover {
  background: #00887A;
  color: #FFFFFF;
  border: 1px solid #FFFFFF;
}
header .container .intro .buttons .reverse-button:hover {
  border: 1px solid #00887A;
}
.footer {
  width: 100%;
  background: #00887A;
  padding-top: 15px;
}
.footer .container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: row;
}
@media (max-width: 375px) {
  .footer .container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column-reverse;
  }
}
.footer .container p {
  color: #FFFFFF;
  margin-top: 7px;
}
.footer .container .social-medias {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}
.footer .container .social-medias a {
  color: #FFFFFF;
  font-size: 1.8rem;
  margin-right: 10px;
}
.footer .container .social-medias img {
  max-height: 35px;
}
.main-section h1,
.main-section h3 {
  color: #de9151;
}
.main-section .introduction {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: row;
  margin-top: 40px;
  padding: 40px 0;
  border-bottom: 1px solid #ccc;
}
@media (max-width: 500px) {
  .main-section .introduction {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
}
.main-section .introduction .intro-boxes {
  width: 48%;
}
@media (max-width: 500px) {
  .main-section .introduction .intro-boxes {
    width: 98%;
  }
}
@media (max-width: 375px) {
  .main-section .introduction .intro-boxes {
    text-align: center;
  }
}
.main-section .introduction .intro-boxes p {
  margin-bottom: 15px;
}
.main-section .introduction .intro-boxes a.donate {
  background: #00887A;
  border: 1px solid #FFFFFF;
  color: #FFFFFF;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  padding: 10px 50px;
  text-decoration: none;
  text-align: center;
  font-size: 1.4rem;
  transition: all 0.3s;
  border: 1px solid #00887A;
  font-weight: bold;
  text-transform: uppercase;
}
.main-section .introduction .intro-boxes a.donate:hover {
  background: #FFFFFF;
  color: #00887A;
  border: 1px solid #00887A;
}
.main-section .introduction .intro-boxes .image-border {
  border: 10px solid #00887A;
  background: #00887A;
}
@media (max-width: 500px) {
  .main-section .introduction .intro-boxes .image-border {
    margin-bottom: 40px;
  }
}
.main-section .introduction .intro-boxes .image-border img {
  margin-top: -40px;
}
.main-section .box-section {
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 40px 0;
}
.main-section .box-section .box {
  width: 31.5%;
  margin-bottom: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}
@media (max-width: 375px) {
  .main-section .box-section .box {
    width: 48%;
  }
}
.main-section .box-section .box i {
  font-size: 4.8rem;
  margin-bottom: 20px;
  color: #de9151;
}
.team-profile {
  margin-top: 40px;
}
.team-profile h1,
.team-profile h3 {
  color: #de9151;
}
.team-profile h1 {
  text-align: center;
  margin-bottom: 50px;
}
.team-profile .container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: row;
  flex-wrap: wrap;
}
@media (max-width: 375px) {
  .team-profile .container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
  }
}
.team-profile .container .box {
  width: 23.6%;
  margin-bottom: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}
@media (max-width: 1024px) {
  .team-profile .container .box {
    width: 32.333%;
  }
}
@media (max-width: 767px) {
  .team-profile .container .box {
    width: 48%;
  }
}
@media (max-width: 375px) {
  .team-profile .container .box {
    width: 84%;
  }
}
.team-profile .container .box p.name {
  padding-bottom: 0;
  font-weight: 800;
  color: #de9151;
  line-height: 1.3rem;
}
.team-profile .container .box .image-border {
  border: 10px solid #00887A;
  background: #00887A;
  margin-bottom: 20px;
  width: 100%;
}
.team-profile .container .box .image-border img {
  margin-top: -20px;
  max-height: 200px;
  width: 100vh;
  height: 100vh;
}
@media (max-width: 500px) {
  .team-profile .container .box .image-border img {
    max-height: 160px;
  }
}
@media (max-width: 375px) {
  .team-profile .container .box .image-border img {
    max-height: 200px;
  }
}
