@font-face {
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: local('Nunito Light'), local('Nunito-Light'), url(https://fonts.gstatic.com/s/nunito/v12/XRXW3I6Li01BKofAnsSUYevN.ttf) format('truetype');
}
@font-face {
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Nunito Regular'), local('Nunito-Regular'), url(https://fonts.gstatic.com/s/nunito/v12/XRXV3I6Li01BKofINeaE.ttf) format('truetype');
}
@font-face {
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: local('Nunito SemiBold'), local('Nunito-SemiBold'), url(https://fonts.gstatic.com/s/nunito/v12/XRXW3I6Li01BKofA6sKUYevN.ttf) format('truetype');
}
@font-face {
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: local('Nunito ExtraBold'), local('Nunito-ExtraBold'), url(https://fonts.gstatic.com/s/nunito/v12/XRXW3I6Li01BKofAksCUYevN.ttf) format('truetype');
}
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
html,
body {
  font-family: 'Nunito', sans-serif;
  color: #444545;
}
h1,
h2,
h3,
h4,
h5 {
  font-weight: 600;
  margin-bottom: 15px;
}
h1 {
  font-size: 3.2rem;
}
h2 {
  font-size: 2.8rem;
}
h3 {
  font-size: 2.4rem;
}
h4 {
  font-size: 2rem;
}
p {
  line-height: 1.8;
  font-size: 1.4rem;
  padding-bottom: 10px;
}
a {
  line-height: 1.8;
  font-size: 1.4rem;
  color: #444545;
}
img {
  max-width: 100%;
  height: auto;
}
.container {
  max-width: 960px;
  width: 100%;
  margin: 0 auto;
}
header {
  padding: 20px 0 10px;
}
header .container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: row;
}
header nav {
  margin-top: 10px;
}
header nav a {
  margin-right: 10px;
  text-decoration: none;
}
header nav a:hover {
  border-bottom: 1px solid #444545;
}
header .call-to-action {
  margin-top: 6px;
  background-color: #00887A;
  border-radius: 3;
  -webkit-border-radius: 3;
  -moz-border-radius: 3;
  color: #FFFFFF;
  padding: 5px 25px;
  text-decoration: none;
  text-align: center;
  font-size: 1.4rem;
  transition: all 0.2s;
}
header .call-to-action:hover {
  background-color: #FFFFFF;
  color: #00887A;
  border: 1px solid #00887A;
}
.footer {
  width: 100%;
  background: #00887A;
}
.footer p {
  text-align: center;
  font-size: 1.6rem;
  padding: 20px;
}
