.footer {
  width: 100%;
  background: @teal-green;
  padding-top: 15px;

  .container {
    .flex(space-between);

    @media @s-mobile {
        .flex(center, center, column-reverse);
    }

    p {
        color: @white;
        margin-top: 7px;
    }

    .social-medias {
        .flex(space-between, center);

        a {
            color: @white;
            font-size: 1.8rem;
            margin-right: 10px;
        }

        img {
            max-height: 35px;
        }
    }
  }
  
  
}