header {
    padding: 20px 0 10px;
    //background-image: url("/img/cover.jpg");
    //background:linear-gradient(0deg, rgba(91, 91, 91, 0.3), rgba(6, 6, 6, 0.5)), url(/img/cover.jpg);
    background:linear-gradient(90deg, rgba(20, 20, 20, 0.8) 0%, rgba(0, 0, 0, 0.5)), url(/img/cover.jpg);

    /* Set a specific height */
    min-height: 500px;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    .container{
        .flex(@direction: column);

        .main-nav {
            .flex(space-between);
            margin-top: 10px;
            width: 100%;
            color: @white;

            @media @s-mobile {
                .flex(center, center, column);
            }
    
            nav {
                margin-top: 30px; 

                @media @s-mobile {
                    margin-top: 15px;
                    margin-bottom: 20px;
                }

                a {
                    margin-right: 10px;
                    text-decoration: none;
                    color: @white;
                    transition: all .3s;
        
                    &:hover {
                        color: @persian-orange;
                        border-bottom: 1px solid @persian-orange;
                    }
                }
            }
        }

        .intro {
            .flex(center, center, column);
            color: @white;
            height: 39vh;
            text-align: center;
            width: 100%;
        
            h1 {
                font-size: 4.6rem;
                margin-bottom: 40px;

                @media @s-mobile {
                    font-size: 3.6rem;
                }
            }
        
            .buttons {

                @media @s-mobile {
                    .flex(center, center, column);
                }

                a {
                    .button(@teal-green, 3px, @white);
                    border: 1px solid @teal-green;
                    margin: 0 5px 10px;
                    font-weight: bold;
                    text-transform: uppercase;
                }

                .reverse-button {
                    .button(@white, 3px, @teal-green);
                    background: rgba(2255, 255, 255, 0.3);
                    border: 1px solid @white;
                    color: @white;

                    &:hover {
                        border: 1px solid @teal-green;
                    }
                }
            }
            
        }
    }
}