.main-section {

    h1, h2, h3 {
        color: @persian-orange;
    }

    h3 {
        text-align: center;
        margin-top: 30px;
    }

    .introduction {
        .flex(space-between);
        margin-top: 40px;
        padding: 40px 0;
        border-bottom :1px solid #ccc;

        @media @mobile {
            .flex(center, center, column);
        }
 
        .intro-boxes {
            width: 48%;

            @media @mobile {
                width: 98%;
            }

            @media @s-mobile {
                text-align: center;
            }

            p {
                margin-bottom: 15px;
            }

            a.donate {
                .button(@teal-green, 3px, @white);
                border: 1px solid @teal-green;
                font-weight: bold;
                text-transform: uppercase;
            }

            .image-border {
                border: 10px solid @teal-green;
                background: @teal-green;

                @media @mobile {
                    margin-bottom: 40px;
                }

                img {
                    margin-top: -40px;
                }
            }
        }
    }

    .box-section {
        .flex(space-evenly);
        flex-wrap: wrap;
        margin: 40px 0;
        
        .box {
            width: 31.5%;
            margin-bottom: 30px;
            .flex(center,center,column);
            text-align: center;

            @media @s-mobile {
                width: 48%;
            }

            i {
                font-size: 4.8rem;
                margin-bottom: 20px;
                color: @persian-orange;
            }
        }
    }
}