.banner {
     /* The image used */
    //background-image: url("/img/cover.jpg");
    //background:linear-gradient(0deg, rgba(91, 91, 91, 0.3), rgba(6, 6, 6, 0.5)), url(/img/cover.jpg);
    background:linear-gradient(90deg, rgba(20, 20, 20, 0.8) 0%, rgba(0, 0, 0, 0.5)), url(/img/cover.jpg);

    /* Set a specific height */
    min-height: 500px;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    .container {
        .flex(center, center, column);
        color: @white;
        height: 51.6vh;
        text-align: center;

        h1 {
            font-size: 4.6rem;
        }

        a {
            .button(@teal-green, 3px, @white);
        }
    }
}

.main-section {

    .box-section {
        .flex(space-evenly);
        margin: 40px 0;
        
        .box {
            width: 31.5%;
            min-height: 200px;
            .flex(center,center,column);
            text-align: center;

            i {
                font-size: 4.8rem;
                margin-bottom: 20px;
            }
        }
    }
}