.team-profile {
    margin-top: 40px; 

    h1, h2, h3 {
        color: @persian-orange;
    }

    .container {
        .flex(flex-start);
        flex-wrap: wrap;

        @media @s-mobile {
            .flex(center, center);
        }
        
        .box {
            flex-basis: 25%;
            padding: 10px;
            margin-bottom: 30px;
            .flex(center,center,column);
            text-align: center;

            @media @tablet {
                flex-basis: 33.333%;
            }

            @media @s-tablet {
                flex-basis: 50%;
            }

            @media @s-mobile {
                flex-basis: 80%;
                margin-bottom: 10px;
            }

            p.name {
                padding-bottom: 0;
                font-weight: 800;
                color: @persian-orange;
                line-height: 1.3rem;
            }

            .image-border {
                border: 10px solid @teal-green;
                background: @teal-green;
                margin-bottom: 20px;
                width: 100%;

                img {
                    margin-top: -20px;
                    max-height: 180px;
                    width: 100vh;
                    height: 100vh;

                    @media @mobile {
                        max-height: 160px;
                    }

                    @media @s-mobile {
                        max-height: 180px;
                    }
                }
            }
        }
    }
}