// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito:300,400,600,800&display=swap');

// Colors
@white: #FFFFFF;
@teal-green: #00887A;
@apricot: #ffccbc;
@persian-orange: #de9151;
@french-sky-blue: #77a6f7;
@outer-space: #444545;